doctype html
html(lang="en")
  head
    title= "Grunt Brew"
    script(type='text/javascript' src="/js/app.js").
    link(href="/css/app.css" rel="stylesheet").
  body
    h1 Grunt Brew
    #container.col
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.